
@tailwind base;
@tailwind components;
@tailwind utilities;


@font-face {
  font-family: "San Francisco";
  font-weight: 400;
  src: url("fonts/sf_pro_text_regular.ttf");
}
@font-face {
  font-family: "Proxima Nova";
  font-weight: 400;
  src: url("fonts/Proxima Nova.ttf");
}
@font-face {
  font-family: "Poppins";
  font-weight: 400;
  src: url("fonts/Poppins-Bold.ttf");
}
@font-face {
  font-family: "Neue";
  font-weight: 400;
  src: url("fonts/Neue.ttf");
}
@font-face {
  font-family: "Neue Normal";
  font-weight: 400;
  src: url("fonts/Neue-normal.ttf");
}

